.ingredients-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.ingredients-ok-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.ingredients-ok-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.ingredients-ok-navbar-interactive {
  fill: var(--dl-color-gray-black);
  color: #f9f9f9;
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #95742b;
}
.ingredients-ok-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.ingredients-ok-links {
  flex: 1;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ingredients-ok-navlink {
  font-size: 25px;
  font-family: "PrehistoricTimes-Regular";
  text-decoration: none;
}
.ingredients-ok-navlink1 {
  font-size: 25px;
  font-family: "PrehistoricTimes-Regular";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.ingredients-ok-navlink2 {
  font-size: 25px;
  font-family: "PrehistoricTimes-Regular";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.ingredients-ok-text {
  font-size: 25px;
  font-family: "PrehistoricTimes-Regular";
  margin-left: var(--dl-space-space-twounits);
}
.ingredients-ok-navlink3 {
  font-size: 25px;
  font-family: "PrehistoricTimes-Regular";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.ingredients-ok-pasted-image {
  top: 0px;
  left: 0px;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  position: absolute;
}
.ingredients-ok-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.ingredients-ok-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.ingredients-ok-burger-menu {
  display: none;
}
.ingredients-ok-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.ingredients-ok-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.ingredients-ok-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ingredients-ok-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.ingredients-ok-logo {
  height: 2rem;
}
.ingredients-ok-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ingredients-ok-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.ingredients-ok-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.ingredients-ok-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.ingredients-ok-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.ingredients-ok-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.ingredients-ok-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.ingredients-ok-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.ingredients-ok-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.ingredients-ok-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.ingredients-ok-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.ingredients-ok-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.ingredients-ok-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.ingredients-ok-hero {
  width: 100%;
  height: 928px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  justify-content: center;
}
.ingredients-ok-hero1 {
  height: 912px;
  padding: 25px;
  position: relative;
  align-self: flex-start;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  background-image: linear-gradient(to right, #c2e59c 0%, #64b3f4 100%);
}
.ingredients-ok-container1 {
  top: 25px;
  left: 0px;
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.ingredients-ok-hero-heading {
  top: 100px;
  left: 16px;
  width: 50%;
  position: absolute;
  font-size: 25px;
  max-width: auto;
  align-self: flex-start;
  text-align: center;
  font-family: "PrehistoricTimes-Regular";
  font-weight: 700;
  line-height: 150%;
}
.ingredients-ok-text06 {
  font-size: 45px;
}
.ingredients-ok-text09 {
  font-size: 30px;
}
.ingredients-ok-text10 {
  font-size: 30px;
}
.ingredients-ok-text11 {
  font-size: 30px;
}
.ingredients-ok-text12 {
  font-size: 30px;
}
.ingredients-ok-text13 {
  font-size: 30px;
}
.ingredients-ok-text14 {
  font-size: 30px;
}
.ingredients-ok-text15 {
  font-size: 30px;
}
.ingredients-ok-text16 {
  font-size: 30px;
}
.ingredients-ok-text17 {
  font-size: 30px;
}
.ingredients-ok-text18 {
  font-size: 30px;
}
.ingredients-ok-text19 {
  font-size: 30px;
}
.ingredients-ok-text20 {
  font-size: 30px;
}
.ingredients-ok-text21 {
  font-size: 30px;
}
.ingredients-ok-text22 {
  font-size: 30px;
}
.ingredients-ok-text23 {
  font-size: 30px;
}
.ingredients-ok-pasted-image1 {
  top: 100px;
  right: 20px;
  width: 45%;
  height: 639px;
  position: absolute;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  border-color: #103c0e;
  border-style: double;
  border-width: 2px;
  text-decoration: none;
}
.ingredients-ok-textinput {
  left: 20px;
  right: 20px;
  width: auto;
  bottom: 20px;
  height: 100px;
  margin: auto;
  position: absolute;
  font-size: 32px;
  box-shadow: 5px 5px 10px 0px #0a0a0a;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 150%;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.ingredients-ok-footer {
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.ingredients-ok-footer1 {
  left: 0px;
  bottom: 0px;
  position: absolute;
  background-color: #5f3d12;
}
.ingredients-ok-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.ingredients-ok-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.ingredients-ok-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.ingredients-ok-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.ingredients-ok-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .ingredients-ok-desktop-menu {
    display: none;
    position: relative;
  }
  .ingredients-ok-links {
    flex: 1;
    height: auto;
    flex-wrap: wrap;
    align-self: stretch;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    justify-content: space-between;
  }
  .ingredients-ok-navlink {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .ingredients-ok-navlink1 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .ingredients-ok-navlink2 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .ingredients-ok-text {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .ingredients-ok-navlink3 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-threeunits);
  }
  .ingredients-ok-pasted-image {
    left: 0px;
  }
  .ingredients-ok-hero1 {
    align-self: flex-start;
    flex-direction: row;
  }
  .ingredients-ok-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .ingredients-ok-hero-heading {
    font-size: 48px;
    text-align: center;
    font-family: PrehistoricTimes-Regular;
    font-weight: 700;
    line-height: 150%;
  }
  .ingredients-ok-text06 {
    text-align: center;
  }
  .ingredients-ok-text09 {
    font-size: 40px;
    line-height: 100%;
  }
  .ingredients-ok-text10 {
    font-size: 30px;
    line-height: 100%;
  }
  .ingredients-ok-text11 {
    font-size: 30px;
    line-height: 100%;
  }
  .ingredients-ok-text12 {
    font-size: 30px;
    line-height: 100%;
  }
  .ingredients-ok-text13 {
    font-size: 30px;
    line-height: 100%;
  }
  .ingredients-ok-text14 {
    font-size: 30px;
    line-height: 100%;
  }
  .ingredients-ok-text15 {
    font-size: 40px;
    line-height: 100%;
  }
  .ingredients-ok-text16 {
    font-size: 30px;
    line-height: 100%;
  }
  .ingredients-ok-text17 {
    font-size: 30px;
    line-height: 100%;
  }
  .ingredients-ok-text18 {
    font-size: 30px;
    line-height: 100%;
  }
  .ingredients-ok-text19 {
    font-size: 30px;
    line-height: 100%;
  }
  .ingredients-ok-text20 {
    font-size: 40px;
    line-height: 100%;
  }
  .ingredients-ok-text21 {
    font-size: 30px;
    line-height: 100%;
  }
  .ingredients-ok-text22 {
    font-size: 30px;
    line-height: 100%;
  }
  .ingredients-ok-text23 {
    font-size: 30px;
    line-height: 100%;
  }
  .ingredients-ok-text24 {
    font-size: 30px;
    line-height: 100%;
  }
  .ingredients-ok-pasted-image1 {
    top: 100px;
    width: 406px;
    height: 623px;
    margin-top: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .ingredients-ok-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .ingredients-ok-desktop-menu {
    display: none;
  }
  .ingredients-ok-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ingredients-ok-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .ingredients-ok-text01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .ingredients-ok-text02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .ingredients-ok-text03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .ingredients-ok-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .ingredients-ok-text05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .ingredients-ok-hero {
    height: 726px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .ingredients-ok-hero1 {
    height: 744px;
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .ingredients-ok-container1 {
    gap: 0;
    top: 0px;
    width: 336px;
    height: 332px;
    position: static;
    align-self: stretch;
    align-items: stretch;
    justify-content: space-between;
  }
  .ingredients-ok-hero-heading {
    width: 50%;
    height: 476px;
    font-size: 30px;
    align-self: flex-start;
    font-family: PrehistoricTimes-Regular;
    font-weight: 700;
    line-height: 150%;
  }
  .ingredients-ok-text06 {
    top: 100px;
    left: 10px;
    width: 50%;
    position: absolute;
    font-size: 30px;
    align-self: flex-start;
    line-height: 100%;
  }
  .ingredients-ok-text07 {
    font-size: 25px;
    line-height: 100%;
  }
  .ingredients-ok-text08 {
    font-size: 25px;
    line-height: 100%;
  }
  .ingredients-ok-text09 {
    font-size: 22px;
    line-height: 100%;
  }
  .ingredients-ok-text10 {
    font-size: 22px;
    line-height: 100%;
  }
  .ingredients-ok-text11 {
    font-size: 22px;
    line-height: 100%;
  }
  .ingredients-ok-text12 {
    font-size: 22px;
    line-height: 100%;
  }
  .ingredients-ok-text13 {
    font-size: 22px;
    line-height: 100%;
  }
  .ingredients-ok-text14 {
    font-size: 22px;
    line-height: 100%;
  }
  .ingredients-ok-text15 {
    font-size: 22px;
    line-height: 100%;
  }
  .ingredients-ok-text16 {
    font-size: 22px;
    line-height: 100%;
  }
  .ingredients-ok-text17 {
    font-size: 22px;
    line-height: 100%;
  }
  .ingredients-ok-text18 {
    font-size: 22px;
    line-height: 100%;
  }
  .ingredients-ok-text19 {
    font-size: 22px;
    line-height: 100%;
  }
  .ingredients-ok-text20 {
    font-size: 22px;
    line-height: 100%;
  }
  .ingredients-ok-text21 {
    font-size: 22px;
    line-height: 100%;
  }
  .ingredients-ok-text22 {
    font-size: 25px;
    line-height: 100%;
  }
  .ingredients-ok-text23 {
    font-size: 22px;
    line-height: 100%;
  }
  .ingredients-ok-text24 {
    font-size: 22px;
    line-height: 100%;
  }
  .ingredients-ok-text25 {
    font-size: 25px;
  }
  .ingredients-ok-pasted-image1 {
    width: 343px;
    height: 444px;
  }
  .ingredients-ok-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .ingredients-ok-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .ingredients-ok-text26 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .ingredients-ok-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .ingredients-ok-mobile-menu {
    padding: 16px;
  }
  .ingredients-ok-hero1 {
    height: 832px;
    position: relative;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .ingredients-ok-container1 {
    top: 0px;
    left: 0px;
    position: absolute;
  }
  .ingredients-ok-hero-heading {
    top: 50px;
    left: 0px;
    width: 479px;
    height: 100%;
    position: absolute;
    padding-left: 0px;
  }
  .ingredients-ok-text06 {
    top: 50px;
    left: 0px;
    width: 479px;
    height: 100%;
    position: absolute;
    padding-left: 0px;
  }
  .ingredients-ok-pasted-image1 {
    top: 200px;
    right: 0px;
    width: 200px;
    height: 295px;
    margin: var(--dl-space-space-oneandhalfunits);
  }
  .ingredients-ok-footer1 {
    padding: var(--dl-space-space-unit);
    align-self: stretch;
  }
  .ingredients-ok-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .ingredients-ok-text26 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
